main {
  margin: 0 auto;
  width: 100%;
}

main > .uk-section.mc-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

input.uk-input {
  border-radius: 5px;
}

button.uk-button {
  border-radius: 5px;
}
